name: Dependabot Release Notes

on:
  pull_request:
    types: [opened, synchronize, reopened]

# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs#defining-access-for-the-github_token-scopes
permissions:
  pull-requests: write
  contents: write

jobs:
  generate-release-note:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      with:
        fetch-depth: 0
    - name: Generate .changelog entry
      env:
        PR_NUMBER: ${{ github.event.pull_request.number }}
        PR_TITLE: ${{ github.event.pull_request.title }}
        PR_BODY: ${{ github.event.pull_request.body_text }}
      run: |
        FIRST_COMMIT=$(git log -10 --pretty=format:%H origin/main..HEAD | tail -1)
        FIRST_COMMIT_BODY=$(git log -1 --pretty=format:%B $FIRST_COMMIT)
        mkdir -p .changelog
        echo "backticksrelease-note:enhancement" > .changelog/$PR_NUMBER.txt
        echo "ci/dependabot: $PR_TITLE" >> .changelog/$PR_NUMBER.txt
        echo ""  >> .changelog/$PR_NUMBER.txt
        echo "$FIRST_COMMIT_BODY" >> .changelog/$PR_NUMBER.txt
        echo "backticks" >> .changelog/$PR_NUMBER.txt
        sed -i 's/backticks/```/g' .changelog/$PR_NUMBER.txt
    - name: Commit and Push
      env:
        GIT_USER: ${{ secrets.GIT_USER }}
        GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
      run: |
        git config --local user.email "dependabot[bot]@users.noreply.github.com"
        git config --local user.name "dependabot[bot]"
        git add .changelog
        git commit -m "Add .changelog entry #${{ github.event.pull_request.number }}"
        git push "https://x-access-token:$GITHUB_TOKEN@github.com/${{ github.repository }}.git" HEAD:${{ github.event.pull_request.head.ref }}
